html {
  background-color: black;
}
/* main theme */
body {
  font-family: "Teko", sans-serif;
  background-color: rgb(124, 123, 123);
  color: rgb(204, 8, 8);
  font-size: 30px;
  border: 3px solid rgb(139, 0, 0);
  border-radius: 15px;
  margin: 10px;
}
h1 {
  font-size: 4rem;
}

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
  color: rgb(204, 8, 8);
  text-align: center;
}
header {
  text-align: center;
  border: 3px solid rgb(139, 0, 0);
  border-radius: 15px;
  background-image: url(../Images/banner.jpg);
  background-size: cover;
  background-position-y: center;
  margin: 10px;
  padding-bottom: 10px;
}
nav ul {
  display: flex;
  justify-content: right;
  margin-right: 30px;
}

nav ul li {
  display: inline-flex;
  font-size: 1.8rem;
  padding: 10px;
  background-color: black;
  border-radius: 6px;
  margin-right: 5px;
}
main {
  display: flex;
  border: 3px solid rgb(139, 0, 0);
  border-radius: 15px;
  background-color: rgb(8, 8, 8);
  color: rgb(204, 8, 8);
  margin: 10px;
}
main img {
  border-radius: 8px;
  margin: 20px 10px 0px 20px;
  align-self: center;
}
main p {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main ul li {
  list-style-image: url(../Images/logo_med_tiny.png);
}
footer {
  border: 3px solid rgb(139, 0, 0);
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  background-color: rgb(8, 8, 8);
}
header img {
  border-radius: 15px;
  max-width: 99%;
}
/* unvisited link */
nav li a:link {
  color: red;
}
/* visited link */
nav li a:visited {
  color: red;
}
/* mouse over link */
nav li a:hover {
  color: red;
  background-color: black;
}
/* click on selected link */
nav li a:active {
  color: red;
}
/* tabbed to link */
nav li a:focus {
  color: darkred;
  background-color: red;
}
main ul li a:link {
  color: red;
}
/* visited link */
main ul li a:visited {
  color: red;
}
footer p a:link {
  color: red;
}
/* visited link */
footer p a:visited {
  color: red;
}
/* ----------Services------------- */
.services {
  display: block;
}
.services ul {
  /* border: 4px solid rgb(104, 4, 4); */
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.services ul li {
  list-style: none;
  display: inline-block;
  border: 4px solid rgb(104, 4, 4);
  border-radius: 8px;
  background-color: rgb(124, 123, 123);
  color: black;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 2rem;
}
table {
  border: 4px solid rgb(104, 4, 4);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  border-collapse: collapse;
  font-size: 3.5rem;
}
th {
  border: 4px solid rgb(104, 4, 4);
  padding: 20px;
  background: rgb(8, 8, 8);
}
td {
  font-size: 3rem;
  color: black;
  border: 4px solid rgb(104, 4, 4);
  padding: 2px;
  background-color: rgb(124, 123, 123);
}
/* ------------Responsive----------- */
@media screen and (max-width: 1080px) {
  h1 {
    text-align: right;
    margin-right: 5px;
  }
  nav ul {
    margin-right: 5px;
  }
  nav ul li {
    margin-right: 0px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.65rem;
    padding-top: 0;
    margin-top: 2px;
    margin-right: 5px;
  }
  nav ul {
    margin-bottom: 0;
    margin-right: 5px;
  }
  nav ul li {
    font-size: 0.9rem;
    padding: 3px;
    margin-top: 80px;
  }
}
/* color package */
/* font rgb(204, 8, 8) */
/* font2 rgb(153, 0, 0) */
/* background rgb(8, 8, 8) */
/* background2 rgb(102, 102, 102) */
/* borders rgb(139, 0, 0) */
